.rightbar {
    width: 80px;
    height: 100vh;
    background-color: #39c3bf;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transition: all 0.6s ease;

    &:hover {
        width: 300px;
    }

    .left {
        
    ul {
        padding: 1.5rem;
        list-style: none;
        width: 250px;
        margin-right: -1rem;
        

        li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 3rem;
            border-radius: 10px;
            font-size: 22px;
            margin-bottom: 1rem;
            cursor: pointer;

            &:hover {
                background-color: #416358;
            }

            .item {
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 27px;

                .icons {
                    font-size: 30px;
                }
            }
        }
    }
}
    .right {
        padding: 1.5rem;
        list-style: none;
        width: 250px;
        

        li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 3rem;
            border-radius: 10px;
            font-size: 22px;
            margin-bottom: 1rem;
            cursor: pointer;

            &:hover {
                background-color: #416358;
            }

            .item {
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                .icons {
                    font-size: 30px;
                }
            }
        }
    }
    }
